@import "../../style/variables";

.w-series-details {
  .series-details-backdrop {
    width: 100%;
    height: 300px;
    margin-top: 20px;

    background: black center center;
    background-size: cover;
    border-bottom: 2px solid $homeColor;
  }

  .series-details-header {
    display: flex;
    align-items: flex-end;
    margin: -210px 0 20px;

    color: white;

    .poster {
      flex: none;
      width: auto;
      height: 270px;
      margin-left: 20px;

      img { height: 100%; }
    }

    .series-details-pin {
      flex: none;
      width: 40px;
      height: 40px;
      margin: 10px 20px;
    }

    .title {
      padding: 10px 10px 10px 0;
      font-size: 30px;
    }
  }

  .series-details-body {
    display: flex;
    flex-wrap: wrap;

    color: white;
    font-size: 14px;

    .w-box {
      margin: 0 10px 30px;

      &.w-box-overview {
        padding-right: 50px;
        border-right: 2px solid $homeColor;
      }

      &.w-box-cast > div {
        display: flex;
        flex-wrap: wrap;

        .profile {
          flex: 1;
          text-align: center;
          font-size: 20px;
          font-weight: bold;

          .profile-picture {
            width: 100px;
            height: 100px;
            margin:  0 auto 10px;
            background: $cardBackground center center;
            background-size: cover;
            border-radius: 100px;
          }
        }
      }

      &.w-box-next {
        .episode-card {
          display: flex;
          align-items: center;
          padding: 20px;
          background: $cardBackground;

          > div {
            flex: 1;

            &.episode-pin {
              flex: none;
              width: 30px;
              height: 30px;
              margin-right: 20px;
            }

            &.episode-number {
              flex: none;
              font-size: 20px;
              font-weight: bold;
              margin-right: 20px;
            }

            &.episode-date {
              flex: none;
            }
          }
        }
      }

      h6 {
        color: $homeColor;
        font-size: 16px;
        text-transform: uppercase;
      }

      > div {

        text-align: justify;

        .series-details-label {
          display: inline-block;
          margin: 5px 10px 5px 0;
          padding: 5px 10px;
          background: $cardBackground;
          border-radius: 10px;
        }
      }
    }
  }
}