@import "../../../style/variables";

.my-list-container {
  height: 100%;
  position: relative;

  .mCSB_container {
    margin: 0 !important;
  }

  .mCSB_scrollTools {
    z-index: 50;
  }

  .my-list-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: rgb(185, 160, 141);
    margin-bottom: 20px;

    > div {
      flex: none;
      padding: 10px;
      color: white;
      font-size: 1.4em;

      &.l-menu-item.active,
      &.l-menu-item:hover {
        color: #a9381d;
        cursor: pointer;
      }

      &.my-list-separator {
        width: 100px;
      }
    }
  }

  .my-list {
    position: absolute;
    top: 50px;
    bottom: 5px;
    width: 100%;

    h4 {
      color: rgba(255, 255, 255, 0.2);
      text-align: left;
      font-size: 2em;
      text-transform: capitalize;

      margin: 0 20px;
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .my-list-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .my-list-item {
        width: 150px;
        min-height: 170px;
      }
    }

    .my-list-message {
      margin: 20% 0;
      text-align: center;
      color: white;
      font-size: 2em;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .my-list-container {

    .my-list-menu {

      > div {
        padding: 3px 10px;

        &.my-list-separator {
          flex: none;
          width: 100%;
          padding: 0;
        }
      }
    }

    .my-list {
      top: 60px;
    }
  }
}