@import "../../../style/variables";

.my-list-container {
  height: 100%;

  .mCSB_container {
    margin: 0 !important;
  }

  .mCSB_scrollTools {
    z-index: 50;
  }

  .my-list-menu {
    display: flex;
    align-items: flex-start;
    background: rgb(185, 160, 141);
    margin-bottom: 20px;

    > div {
      flex: none;
      padding: 10px;
      color: white;
      font-size: 1.4em;
    }
  }

  .my-list {

    h4 {
      color: rgba(255, 255, 255, 0.2);
      text-align: left;
      font-size: 3em;
      text-transform: capitalize;

      margin: 0 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .my-list-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .my-list-item {
        width: 150px;
        min-height: 170px;
      }
    }

    .my-list-message {
      margin: 20% 0;
      text-align: center;
      color: white;
      font-size: 2em;
    }
  }
}