<html>
<body>
<h3>Reset Password Request</h3>

<p>
    A request to reset your password on <a href="https://grimsoft.ch">grimsoft.ch</a> has been received.
    You can ignore this email if you don't want.

    To finalize the reset processus, please on the following link
    <a href="https://grimsoft.ch/account/confirm-reset?id=${uuid}">by clicking here</a>.

    This will open GrimSoft Watched to allow you to change your password.
</p>
</body>
</html>