@import "../../../style/variables";

.body-series-details {
  height: 98%;
  overflow: hidden;
  position: relative;

  .mCSB_container {
    margin-right: 0 !important;
  }

  .mCSB_scrollTools {
    z-index: 50;
  }

  .series-details {

    .backdrop {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      overflow: hidden;
      box-shadow: 0 0 5px black;
      border-bottom: 2px solid $bbox-title-color1;

      img {
        width: 100%;
        margin-top: -10%;
      }
    }

    .information {
      margin: -230px auto 0;
      padding: 0 20px;

      color: #f8f8f8;

      .information-header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;

        .h-poster {
          width: 200px;
          height: 300px;
          background: white;
          box-shadow: 0 0 10px rgba(0,0,0,0.6);

          img { width: 100%; }
        }

        .h-select {
          width: 40px;
          height: 40px;
          margin: 10px 0 10px 20px;
        }

        .h-title {
          flex: 1;
          padding: 10px 20px;
          font-size: 30px;
          font-weight: bold;
        }
      }

      .information-body {
        display: flex;
        flex-wrap: wrap;

        h5 {
          padding: 5px 0;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          color: $bbox-title-color2;
        }

        .b-wrapper {
          flex: 2;

          .b-details {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            align-content: flex-start;

            h5 {
              width: 100%;
            }

            .b-new-line {
              width: 100%;
            }
          }
        }

        .b-box {
          flex: 1;
          margin: 0 20px;

          h5 {
            color: $bbox-title-color1;
          }

          p {
            font-size: 14px;
          }

          img {
            width: 100%;
            max-width: 400px;
          }

          &.b-overview {
            p {
              text-align: justify;
              margin: 10px;
            }
          }

          &.b-still {
            text-align: center;
            img {
              width: 100%;
            }
          }

          &.b-keywords {

            .b-keyword {
              display: inline-block;
              border: 1px solid white;
              border-radius: 10px;
              padding: 5px 10px;
              margin: 5px;
            }
          }

          &.b-episodes {

            h5 {
              color: $bbox-title-color2;
            }

            .season-box {
              position: relative;
              overflow: hidden;

              transition: height 500ms ease-in-out;

              .season-box-pin {
                position: absolute;
                top: 0;
                right: 30px;
                width: 30px;
                height: 30px;
              }

              h6 {
                font-size: 1.5em;
                cursor: pointer;
                color: $bbox-title-color1;

                span {
                  margin-right: 20px;
                }
              }

              ul {
                list-style: none;
                padding: 0;
                font-size: 14px;

                li.episode {
                  display: flex;
                  align-items: center;
                  padding: 0;
                  margin: 0;

                  &:hover {
                    background: #da824f;
                  }

                  .episode-info {
                    flex: 1;
                    padding: 5px;

                    &.bookmark {
                      flex: none;
                      width: 40px;
                      height: 40px;
                    }

                    &.number {
                      flex: none;
                      width: 50px;
                      text-align: center;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}