
@import "../../style/variables";

#body {
  height: 100%;
  margin-left: 400px;
  overflow: hidden;
  background: #212121;
}

@media screen and (max-width: $screen-sm) {
  #body {
    height: auto;
    margin-left: 0;
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
  }
}