@import "../../../style/variables";

.body-movie-details {

  height: 100%;

  .mCSB_container {
    margin-right: 0 !important;
  }

  .mCSB_scrollTools {
    z-index: 50;
  }

  .movie-details {

    .backdrop {
      width: 100%;
      height: 400px;
      overflow: hidden;
      box-shadow: 0 0 5px black;
      border-bottom: 2px solid #da824f;
      background-size: cover;
    }

    .information {
      margin: 0 auto;
      padding: 0 20px;
      position: relative;
      top: -230px;
      z-index: 5;

      color: #f8f8f8;

      .information-header {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;

        .h-poster {
          width: 200px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

          img {
            width: 100%;
          }
        }

        .h-select {
          width: 40px;
          height: 40px;
          margin: 10px 0 10px 20px;
        }

        .h-title {
          flex: 1;
          padding: 10px 20px;
          font-size: 30px;
          font-weight: bold;
        }
      }

      .information-body {
        display: flex;
        flex-wrap: wrap;

        .b-box {
          flex: 1;
          margin: 0 20px;

          h6 {
            padding: 5px 0;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #da824f;
          }

          p {
            font-size: 14px;
          }

          &.b-overview {
            min-width: 250px;

            p {
              text-align: justify;
            }
          }

          .b-keyword {
            display: inline-block;
            border: 1px solid white;
            border-radius: 7px;
            padding: 5px 10px;
            margin: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .body-movie-details {

    .movie-details {

      .backdrop {
        min-height: 200px;
        max-height: 200px;
      }

      .information {

        margin: 0;
        top: 0;

        .information-header {

          margin-bottom: 0;

          .h-poster {
            display: none;
          }

          .h-select {
            margin: 10px 0;
          }
        }

        .information-body {
          .b-box {
            margin: 0 10px 0 0;

            &.b-overview {
              flex: none !important;
              width: 100%;

              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}