@import "../../style/variables";

#header {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: $menuWidth;

  background: url('../../images/background_0001.jpg');
  background-size: cover;
  box-shadow: 0 0 10px black;

  .header__user {
    padding: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.2);

    .header_login {

      input {
        display: block;
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.35) !important;
        border: none;
        font-size: 14px;
        color: black;
      }

      .h-error-msg {
        color: darkred;
        font-size: 12px;
        font-style: italic;
      }

      .h-user-loading {

      }

      .h-user-actions {
        > div {
          width: 50%;
          display: inline-block;
        }

        .btn {
          float: right;
          margin-left: 10px;
        }
      }
    }

    .header__user__picture {
      display: inline-block;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border-radius: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}