
.header-search {

  text-align: center;

  input {
    width: 90%;
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(255,0,0,0.3);
    }
  }
}