@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Bungee';
  src: url("../fonts/Bungee-Regular.ttf");
  font-weight: normal;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;

  background: #404040;

  #watched-wrapper {
    width: 100%;
    height: 100%;
  }
}