@import "../../style/variables";

.search-card {

  width: 100%;
  height: 150px;

  background: $cardBackground;
  color: white;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }

  .search-card-poster {
    float: left;
    width: 100px;
    height: 100%;

    background: black center center;
    background-size: cover;
  }

  .search-card-body {
    margin-left: 100px;
    padding: 10px;

    .title {
      font-size: 14px;
    }
  }
}