
.bookmark-card {
  width: 100%;
  position: relative;
  margin: 20px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    background: rgba(255, 255, 255, 0.2);
  }

  img.bookmark-bg {
    display: block;
    width: 50%;
    margin: 10px auto 0;
  }

  .bookmark-title {
    width: 100%;
    padding: 10px;

    text-align: center;
    color: white;
  }
}