@import "../../style/variables";

#w-html {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;

  background: #404040;

  a, a:link, a:focus {
    color: $linkColor;

    &:hover {
      color: darkred;
      text-decoration: none;
    }
  }

  #w-header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;

    background: $homeColor;
    box-shadow: 0 0 15px black;

    a, a:link, a:focus {
      color: white;

      &:hover {
        color: darkred;
        text-decoration: none;
      }
    }

    .h-menu {
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;

      > a.h-menu-item {
        position: relative;
        display: block;
        height: auto;
        flex: none;
        margin: 5px 20px;

        color: white;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 3px;
          background: #8e1a1a;

          transition: all 300ms;
        }

        &.active,
        &:hover,
        &:focus {
          text-decoration: none;

          &:before {
            left: 0;
            width: 100%;
          }
        }
      }

      .h-menu-search {
        flex: 1;
        text-align: right;

        $searchBarWidth: 300px;
        $searchBarIconWidth: 20px;
        $searchBarInputWidth: $searchBarWidth - $searchBarIconWidth;
        .w-search-bar {
          display: inline-block;
          width: $searchBarWidth + 20px;
          margin: 10px 0;
          padding: 5px 10px;

          background: white;
          border-radius: 10px;

          input {
            width: $searchBarInputWidth;
            border: none;
            background: none;
            font-size: 14px;

            &:focus {
              border: none;
              outline: none;
            }
          }

          span {
            width: $searchBarIconWidth;
          }
        }
      }

      .h-menu-account {
        padding: 0;
        font-size: 12px;
        color: white;

        img {
          height: 30px;
          border-radius: 15px;
          margin-left: 10px;
        }

        span:hover {
          cursor: pointer;
          color: darkred;
        }
      }
    }
  }

  #w-body {
    padding-top: 100px;
  }
}

@media screen and (max-width: $screen-sm) {
  #w-header {
    .h-menu-item {
      order: 2;
    }

    .h-menu-search {
      flex: none !important;
      order: 1;
      width: 100%;

      .w-search-bar {
        display: none !important;
      }
    }
  }
}